@import "/src/index.scss";

.card {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 12px;
}

.cardImage {
  width: 100%;
}

.programName {
  padding: 12px 0px;
  text-align: center;
}

.cardDifficulty,
.cardGoal {
  background-color: hsl(34, 100%, 92%);
  color: #9a3412;
  padding: 6px;
  border-radius: 6px;
  margin-bottom: 12px;
}

.cardNrWorkouts,
.cardWorkoutDuration {
  background-color: #cffafe;
  color: #155e75;
  padding: 6px;
  border-radius: 6px;
  margin-bottom: 12px;
}

.cardDescription {
  @include flex-center;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 12px;
}
