@import "/src/index.scss";

.exercisesPageContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  // align-items: center;
  background-color: $main-bgcolor;
  border-top: $main-border-top;
  padding: 0px 180px;
}

.muscleGroupCard {
  text-align: center;
}
.muscleGroupImage {
  border: $main-border-top;
  border-radius: 999px;
  width: 270px;
}
.exercisesSection {
  display: grid;
  margin: 48px 0px;
  gap:24px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
