@import "/src/index.scss";

.exercisesPageContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $main-bgcolor;
  border-top: $main-border-top;
  padding: 0px 300px;
}

.muscleGroupCard {
  text-align: center;
  transition: 0.3s transform;
}
.muscleGroupCard:hover {
  transform: scale(1.02);
}
.muscleGroupImage {
  border: $main-border-top;
  border-radius: 999px;
  width: 220px;
}

.muscleGroupsSection {
  display: grid;
  margin: 48px 0px;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
