@import "../../index.scss";

.pageContainer {
  display:grid;
  grid-template-rows: 100px 1fr;
  height: 100vh;
}

.mainContainer {
  background-color: $main-bgcolor;
  border-top: $main-border-top;
  padding: 0px 180px;
}
