@import "/src/index.scss";

.header {
  display: flex;
  justify-content: space-between;
  padding: 8px 48px;
}

.logoImage {
  height: 72px;
}

.navLinks {
  @include flex-center;
  gap: 32px;
  font-size: 16px;
}
