@import "/src/index.scss";

.programImageContainer {
  @include flex-center;
  margin-top: 36px;
}

.programImage {
  width: 80%;
  border-radius: 12px;
}

.trainingProgramContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $main-bgcolor;
  border-top: $main-border-top;
  padding: 0px 180px;
}
